@import "tailwindcss";

@theme {
  --color-primary: #635bff;
  --color-primary-bg: #dad9ff;
  --color-secondary: #16cdc7;
  --color-secondary-bg: #cdf3f1;
  --color-info: #46caeb;
  --color-info-bg: #d4f2fa;
  --color-success: #36c96c;
  --color-success-bg: #d0ead9;
  --color-warning: #f8c20a;
  --color-warning-bg: #fdf0ce;
  --color-error: #ff6692;
  --color-error-bg: #ffc8d8;
  --color-hover-bg: #f4f7fb;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .transition-default {
    @apply transition-all duration-300 ease-out;
  }
}

html {
  font-size: 16px;
}

@keyframes wave {
  0%,
  60%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-6px);
  }
}

.animate-wave-dot {
  animation: wave 1s infinite;
}

.animation-delay-150 {
  animation-delay: 0.15s;
}

.animation-delay-300 {
  animation-delay: 0.3s;
}
