@import "tailwindcss";

@theme {
  --color-primary: #635bff;
  --color-secondary: #16cdc7;
  --color-info: #46caeb;
  --color-success: #36c96c;
  --color-warning: #f8c20a;
  --color-error: #ff6692;
  --color-hover: #f4f7fb;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .transition-default {
    @apply transition-all duration-300 ease-out;
  }

  .container-scroll {
    scrollbar-width: thin;
    scrollbar-color: #d4d4d470 transparent;
  }

  .container-scroll::-webkit-scrollbar {
    width: 6px;
  }

  .container-scroll::-webkit-scrollbar-thumb {
    background: #d4d4d4;
    border-radius: 4px;
  }

  .container-scroll::-webkit-scrollbar-thumb:hover {
    background: #c0c0c0;
  }
}

html {
  font-size: 16px;
}

@keyframes wave {
  0%,
  60%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-6px);
  }
}

.animate-wave-dot {
  animation: wave 1s infinite;
}

.animation-delay-150 {
  animation-delay: 0.15s;
}

.animation-delay-300 {
  animation-delay: 0.3s;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.skeleton-shimmer {
  position: relative;
  overflow: hidden;
  background-color: #e5e7eb; /* gray-200 */
  border-radius: 0.375rem;
}

.skeleton-shimmer::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  animation: shimmer 1.5s infinite;
}
